*{
    margin: 0px;
    padding: 0px;
}
body {
  background-color:rgba(0, 0, 0, 0.7);
}
.cerceve1{
    background-color: white;
    width: 35.5%;
    height: 1150px;
    margin-left: 800px;
    margin-top: 80px; 
}
.yazi{
    position:absolute;
    color: white;
    top: 400px;
    left: 320px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.biyografi{
    position:absolute;
    color: wheat;
    top: 450px;
    left: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.ulasim{
    width: 900px;
    height: 100px;
    position: absolute;
    bottom: 67px;
}
h1{
    color: black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.insta{
    width: 50px;
    height: 50px;
    margin-left: 320px;
}
.wp{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.fb{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.benitaniyin{
    width: 100%;
    height: 05%;
    background-color: white;
}
.iomtal{
    width: 100%;
    height: 100%;
}
.bilisim{
    width: 100%;
    height: 100%;
}
.yazis{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.cizgi p{
    font-size: 16.1px;
}
.bebe{
    width: 45%;
    height: 50%;
    float: left;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.bebeq{
    border-radius: 50%;
}
.bisiqlet{
    width: 45%;
    height: 50%;
    float: right;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.bisiklet{
    border-radius: 50%;
}
.ineq{
    width: 45%;
    height: 50%;
    float: left;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 5%;
}
.inek{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.palyacomemet{
    width: 45%;
    height: 50%;
    float: right;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 5%;
}
.palyaco{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.tanitimyazisi{
    position: absolute;
    bottom: 370px;
    left: 1125px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.iyomtal{
   width: 50%;
   height: 100%;
   float: left;
}
.bilisimm{
    width: 50%;
   height: 100%;
   float: right;
}
.yazilar{
  width: 100%;
  height: 30%;
}